html, body{
  background-color:  #bfbfbf;
  height: 100%;
  font-family:  'Libre Baskerville', serif;
}

.index-background{
  background-image: url(churchpic.jpg);
  background-position:center;
  background-size: cover;
  height: 91.75%;
}

.navbar, .custnav {
  background-color: black;
  color: #d9d9d9;
}

.custnav-brand{
  color: white;
  font-size: 1.75em;
  margin-right: 25px;
}
.custnav-brand:link{color: white; text-decoration: none;}
.custnav-brand:hover{color: #bfbfbf;}


.custnav-item{
  color: white;
  font-size: 1.25em;
  margin-left: 10px;
  margin-right: 10px;
}
.custnav-item:link{color: white; text-decoration: none;}
.custnav-item:hover{color: #bfbfbf;}

.index_content{
  width: 40%;
  height: 91%;
  padding: 40px;

}

.welcome{
  height: 50%;
  text-align:center;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  padding-top: 30px;
  box-shadow: 1px 1px 10px gray;
  margin-top: 40px;
}

#card-title{
  border-bottom: 1px solid #bfbfbf;
}

/*############################### Post_List_Page ###################################*/

.search-items{
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  height: 3%;

}

.post-list-page{
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
}

#search-cat-title{
  margin-top: 20px;
  margin-left: 30px;
}

.cont-search-items{
  text-align: center;
}
.mybtn{}
#search-box{}
#search-dropdown{}

.post{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  border-bottom:.5px solid #bfbfbf;
}

#post-list-title{
  color: #737373;
}

#post-list-title:link{color: #565656; text-decoration: none;}
#post-list-title:hover{color: #565656;}

/*#################### Post Detail Page ######################*/

.project{
  display: inline-block;
  width: 60%;
  background-color: white;
  margin-top: 5%;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px;
}

#about_href:link{color: black;}
#about_href:hover{color: gray;}
#about_href:visited{color: black;}



.about{
  display: inline-block;
  position:absolute;
  width: 30%;
  margin-left: 3%;
  margin-top: 4.5%;
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px;
}

/*##################### Login Page ############################*/

.login_page{
  height: 35%;
  width: 35%;
  margin-left: 32%;
  margin-top: 12%;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px;
}

/*################ Sign Up Page ################# */

.signup_page{
  width: 40%;
  margin-left: 30%;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* ################# Church Detail ################ */

.church_detail{
  background-color: white;
  margin-left: 15%;
  margin-top: 4%;
  padding: 30px;
  width: 70%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px;
}

/*################# Contact Form ################### */

.contact_form{
  display: inline-block;
  background-color: white;
  margin-top: 5%;
  width: 60%;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px;
}

.contact_info{
  display: inline-block;
  position: absolute;
  background-color: white;
  margin-top: 4.25%;
  margin-left: 6%;
  width: 30%;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px;
}
